body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  margin-top: 10%;
}

.options{
  text-align: left;
  margin-top: 2rem;
}



.MyImage img {
  position: relative;
  max-width: 325px;
  max-height: 450px;
}

.MyText{
  position: relative;
  color: white;
  font: inherit;
  font-weight: bold;
  font-size: 35pt;
}

.Background{
  border-radius: 15px;
  width: 325px;
  height: 450px;
}